server:
  port: ${SERVER_PORT}

spring:
  application:
    name: service-discovery

  management:
    endpoints:
      web:
        exposure:
          include: "*"
    endpoint:
      health:
        show-details: always
